$body-font-family: 'Montserrat', 'Noto Sans KR', sans-serif !important !default;

$--pointer-x: 25% !important;
$--pointer-y: 10% !important;
$--card-scale: 1.1 !important;
$--card-opacity: 1 !important;
$--translate-x: 0px !important;
$--translate-y: -10px !important;
$--rotate-x: 7deg !important;
$--rotate-y: -19deg !important;
$--background-x: 44% !important;
$--background-y: 36% !important;
$--pointer-from-center: 0.9 !important;
$--pointer-from-top: 0.11 !important;
$--pointer-from-left: 0.25 !important;
