$--pointer-x: 25% !important;
$--pointer-y: 10% !important;
$--card-scale: 1.1 !important;
$--card-opacity: 1 !important;
$--translate-x: 0px !important;
$--translate-y: -10px !important;
$--rotate-x: 7deg !important;
$--rotate-y: -19deg !important;
$--background-x: 44% !important;
$--background-y: 36% !important;
$--pointer-from-center: 0.9 !important;
$--pointer-from-top: 0.11 !important;
$--pointer-from-left: 0.25 !important;

$--red: #f80e35;
$--yellow: #eedf10;
$--green: #21e985;
$--blue: #0dbde9;
$--violet: #c929f1;

$--clip: inset(9.85% 8% 52.85% 8%);

$--scanlines-space: 1px;
$--scanlines-light: #666;
$--scanlines-dark: black;

$--bars: 3%;
$--bar-color: hsla(0, 0%, 70%, 1);
$--bar-bg: hsla(0, 0%, 0%, 1);
