@use 'sass:math';

$--card-aspect: 0.718;
$--card-radius: math.div(4.55%, 3.5%);
$--card-edge: hsl(47, 100%, 78%);
$--card-back: hsl(205, 100%, 25%);
$--card-glow: hsl(175, 100%, 90%);

$--sunpillar-1: hsl(2, 100%, 73%);
$--sunpillar-2: hsl(53, 100%, 69%);
$--sunpillar-3: hsl(93, 100%, 69%);
$--sunpillar-4: hsl(176, 100%, 76%);
$--sunpillar-5: hsl(228, 100%, 74%);
$--sunpillar-6: hsl(283, 100%, 73%);

$--sunpillar-clr-1: $--sunpillar-1;
$--sunpillar-clr-2: $--sunpillar-2;
$--sunpillar-clr-3: $--sunpillar-3;
$--sunpillar-clr-4: $--sunpillar-4;
$--sunpillar-clr-5: $--sunpillar-5;
$--sunpillar-clr-6: $--sunpillar-6;

$--r-clr-1: hsl(0, 57%, 37%);
$--r-clr-2: hsl(40, 53%, 39%);
$--r-clr-3: hsl(90, 60%, 35%);
$--r-clr-4: hsl(180, 60%, 35%);
$--r-clr-5: hsl(180, 60%, 35%);
$--r-clr-6: hsl(210, 57%, 39%);
$--r-clr-7: hsl(280, 55%, 31%);

$--red: #f80e35;
$--yellow: #eedf10;
$--green: #21e985;
$--blue: #0dbde9;
$--violet: #c929f1;

$--angle: 133deg;
$--clip: inset(9.85% 8% 52.85% 8%);

$--scanlines-space: 1px;
$--scanlines-light: #666;
$--scanlines-dark: black;

$--bars: 3%;
$--bar-color: hsla(0, 0%, 70%, 1);
$--bar-bg: hsla(0, 0%, 0%, 1);

$--barwidth: 1.2%;
$--space: 200px;
$--hue: 50;
$--imgsize: cover;

$glitter: url('../../assets/img/glitter.png');
$--glittersize: 25%;

$cosmos-bottom: url('../../assets/img/cosmos-bottom.png');
$cosmos-middle-trans: url('../../assets/img/cosmos-middle-trans.png');
$cosmos-top-trans: url('../../assets/img/cosmos-top-trans.png');

@mixin wrapChild {
  width: 100%;
  height: 100%;
  position: relative;
  display: 'flex';
  flex-wrap: 'wrap';
  overflow: 'hidden';
}

@mixin fitToParent {
  display: grid;
  border-radius: 20px;

  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
@mixin masking($mask) {
  -webkit-mask-image: $mask;
  mask-image: $mask;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center center;
  mask-position: center center;
}
