@import 'src/assets/scss/global.scss';

.rainbowHolo__wrapper {
  @include wrapChild;
}

.rainbowGrad {
  @include fitToParent;

  // mask 없을 때 기본으로 설정되어있는 mask
  $foil: url('../../assets/img/metal.png');
  $--imgsize: 33%;

  background-image: linear-gradient(-45deg, $--r-clr-1, $--r-clr-5), $glitter,
    linear-gradient(
      -30deg,
      $--r-clr-1,
      $--r-clr-2,
      $--r-clr-3,
      $--r-clr-4,
      $--r-clr-5,
      $--r-clr-6,
      $--r-clr-7,
      $--r-clr-1,
      $--r-clr-2,
      $--r-clr-3,
      $--r-clr-4,
      $--r-clr-5,
      $--r-clr-6,
      $--r-clr-7,
      $--r-clr-1,
      $--r-clr-2,
      $--r-clr-3,
      $--r-clr-4,
      $--r-clr-5,
      $--r-clr-6,
      $--r-clr-7,
      $--r-clr-1
    );

  background-blend-mode: luminosity, soft-light;

  background-size: 200% 200%, $--glittersize $--glittersize, 400% 400%;

  // --clip 이랑 같은 효과
  // background-position: calc(25% + (50% * var(--pointer-from-left))) calc(25% + (50% * var(--pointer-from-top))),
  //   center center, calc(25% + (var(--pointer-x) / 2)) calc(25% + (var(--pointer-y) / 2));

  filter: brightness(calc((var(--pointer-from-center) * 0.25) + 0.6)) contrast(2.2) saturate(0.75);

  &--glitter {
    content: '';

    -webkit-mask-image: none !important;
    mask-image: none !important;

    background-image: $glitter,
      linear-gradient(
        -60deg,
        $--r-clr-1,
        $--r-clr-2,
        $--r-clr-3,
        $--r-clr-4,
        $--r-clr-5,
        $--r-clr-6,
        $--r-clr-7,
        $--r-clr-1,
        $--r-clr-2,
        $--r-clr-3,
        $--r-clr-4,
        $--r-clr-5,
        $--r-clr-6,
        $--r-clr-7,
        $--r-clr-1,
        $--r-clr-2,
        $--r-clr-3,
        $--r-clr-4,
        $--r-clr-5,
        $--r-clr-6,
        $--r-clr-7,
        $--r-clr-1
      );

    background-blend-mode: soft-light;
    background-size: $--glittersize $--glittersize, 400% 400%;
    background-position: center center, var(--pointer-x) var(--pointer-y);

    filter: brightness(calc((var(--pointer-from-center) * 0.3) + 0.55)) contrast(2) saturate(1);
    mix-blend-mode: color-dodge;
  }

  &--holo {
    content: '';

    background-image: $foil;
    background-size: $--imgsize;
    background-position: center center;
    filter: brightness(2.5) contrast(1);

    opacity: calc((var(--pointer-from-center) + 0.4) * 0.6);
    background-blend-mode: difference;
    mix-blend-mode: darken;
  }
  -webkit-mask-image: $foil;
  mask-image: $foil;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center center;
  mask-position: center center;
}
