@import 'src/assets/scss/global.scss';

.rainbowAlt__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: 'flex';
  flex-wrap: 'wrap';
  overflow: 'hidden';
}

.rainbowAlt {
  display: grid;
  border-radius: 20px;

  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;

  background-image: repeating-linear-gradient(
      $--angle,
      hsla(283, 49%, 60%, 0.75) calc($--space * 1),
      hsla(2, 70%, 58%, 0.75) calc($--space * 2),
      hsla(53, 67%, 53%, 0.75) calc($--space * 3),
      hsla(93, 56%, 52%, 0.75) calc($--space * 4),
      hsla(176, 38%, 50%, 0.75) calc($--space * 5),
      hsla(228, 100%, 77%, 0.75) calc($--space * 6),
      hsla(283, 49%, 61%, 0.75) calc($--space * 7)
    ),
    $glitter,
    linear-gradient(
      -30deg,
      $--r-clr-1,
      $--r-clr-2,
      $--r-clr-3,
      $--r-clr-4,
      $--r-clr-5,
      $--r-clr-6,
      $--r-clr-7,
      $--r-clr-1,
      $--r-clr-2,
      $--r-clr-3,
      $--r-clr-4,
      $--r-clr-5,
      $--r-clr-6,
      $--r-clr-7,
      $--r-clr-1,
      $--r-clr-2,
      $--r-clr-3,
      $--r-clr-4,
      $--r-clr-5,
      $--r-clr-6,
      $--r-clr-7,
      $--r-clr-1
    );

  background-size: 200% 400%, var(--glittersize) var(--glittersize), 400% 400%;
  background-position: 0% calc(var(--background-y) * 1), center center,
    calc(var(--background-x) * 1.5) calc(var(--background-y) * 1.5);
  background-blend-mode: luminosity, overlay;
  filter: brightness(calc((var(--pointer-from-center) * 0.3) + 0.3)) contrast(3) saturate(1.8);

  &--glitter {
    content: '';
    -webkit-mask-image: none !important;
    mask-image: none !important;

    background-image: $glitter,
      linear-gradient(
        -60deg,
        $--r-clr-1,
        $--r-clr-2,
        $--r-clr-3,
        $--r-clr-4,
        $--r-clr-5,
        $--r-clr-6,
        $--r-clr-7,
        $--r-clr-1,
        $--r-clr-2,
        $--r-clr-3,
        $--r-clr-4,
        $--r-clr-5,
        $--r-clr-6,
        $--r-clr-7,
        $--r-clr-1,
        $--r-clr-2,
        $--r-clr-3,
        $--r-clr-4,
        $--r-clr-5,
        $--r-clr-6,
        $--r-clr-7,
        $--r-clr-1
      );
    background-blend-mode: overlay;
    background-size: $--glittersize $--glittersize, 400% 400%;
    background-position: center center, calc(var(--background-x) * -1.5) calc(var(--background-y) * -1.5);
    filter: brightness(calc((var(--pointer-from-center) * 0.5) + 0.6)) contrast(3) saturate(1);
    mix-blend-mode: color-dodge;

    opacity: calc(1.2 + (var(--pointer-from-center) / 2) * -1);
  }
}
