.container {
  width: 370px;
  height: 500px;
  transition: all 0.2s;
  position: relative;
  flex-wrap: 'wrap';
  overflow: hidden;
  border-radius: 20px;

  transform-style: preserve-3d;
  mix-blend-mode: color-dodge;

  padding: 15%;
}
