.holo__wrapper {
  @include wrapChild;
}

.holo {
  display: grid;
  filter: brightness(0.85) contrast(2.75) saturate(0.65);
  border-radius: 20px;
  background: transparent;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100%;
  position: absolute;

  z-index: 2;

  overflow: hidden;

  // background-image: radial-gradient(
  //   farthest-corner circle at var(--pointer-x) var(--pointer-y),
  //   hsla(0, 0%, 100%, 0.8) 10%,
  //   hsla(0, 0%, 100%, 0.65) 20%,
  //   hsla(0, 0%, 0%, 0.5) 90%
  // );

  opacity: var(--card-opacity);
  mix-blend-mode: overlay;

  --foil: url('https://poke-holo.b-cdn.net/foils/swsh12/foils/upscaled/146_foil_holo_reverse_2x.webp');
  --foil-brightness: 0.55;
  &--lightning {
    --foil-brightness: 0.7;
  }
  &--darkness {
    --foil-brightness: 0.8;
  }
  &--metal {
    --foil-brightness: 0.6;
  }
  background: transparent;

  background-image: radial-gradient(circle at var(--pointer-x) var(--pointer-y), #fff 5%, #000 50%, #fff 80%),
    linear-gradient(-45deg, #000 15%, #fff, #000 85%), var(--foil);

  background-blend-mode: soft-light, difference;
  background-size: 120% 120%, 200% 200%, cover;
  background-position: center center, calc((100% * var(--pointer-from-left))) calc((100% * var(--pointer-from-top))),
    center center;

  filter: brightness(var(--foil-brightness)) contrast(1.5) saturate(1);
  mix-blend-mode: color-dodge;

  opacity: calc((1.5 * var(--card-opacity)) - var(--pointer-from-center));
}
